@font-face {
    font-family: chana;
    src: url("/Font/chaney-ultraextended-webfont.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
}

#main {
    width: 100%;
    min-height: 100vh;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 195, 8);
    animation: pulse 3s;
}

.zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-7deg);
    font-size: 13vw;
    font-family: chana, serif;
    -webkit-text-stroke-width: 0.09vh;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
    font-weight: 200;
}

.loader h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-7deg) translate(-50%, -50%);
    font-size: 5vw;
    font-family: chana, serif;
    color: #fff;
}

.loading {
    position: relative;
    left: 50%;
    width: 50%;
    bottom: -65%;
    height: 10px;
    transform: rotate(-7deg) translate(-50%, 0%);
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
}

.loading::after {
    content: "";
    position: absolute;
    bottom: 10%;
    height: 100%;
    border-radius: 4px;
    animation: load 3s linear forwards;
}

@keyframes load {
    0% {
        width: 0;
        background-color: #a28089;
    }
    25% {
        width: 25%;
        background-color: #c276f5;
    }
    50% {
        width: 50%;
        background-color: #d0bdf4;
    }
    75% {
        width: 75%;
        background-color: #d2d2d2;
    }
    100% {
        width: 100%;
        background-color: rgb(250, 195, 8);
    }
}

@keyframes pulse {
    0% {
        background-color: #a28089;
    }
    25% {
        background-color: #c276f5;
    }
    50% {
        background-color: #d0bdf4;
    }
    75% {
        background-color: #d2d2d2;
    }
    100% {
        background-color: rgb(250, 195, 8);
    }
}

.svgwaala {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Image/back1.jpg);
    background-size: cover;
    background-position: bottom;
    opacity: 0;
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    z-index: 99;
}

#dotted {
    width: 130%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Image/back.png);
    background-size: cover;
    background-position: center;
    animation: dotte 8s ease-in-out alternate infinite;
    /*overflow: hidden;*/
}

#dotted > img:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    animation: updown 4s ease-in-out alternate infinite;
    opacity: 0;
}

#explore {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 75.6%;
    width: 50px;
    height: 15px;
    color: #181818;
    background: rgba(202, 62, 62, 0.45);
    box-shadow: 0 8px 32px 0 rgba(229, 116, 45, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 50px;
    font-size: 0.5vw;
    cursor: pointer;
    font-family: "Product Sans", sans-serif;
}

#explore a h1 {
    color: #fff;
}

@keyframes updown {
    from {
        margin-top: -1vw;
    }

    to {
        margin-top: 1vw;
    }
}

@keyframes dotte {
    from {
        margin-top: -15%;
        margin-left: -15%;
    }
}